{% extends "socialnetwork/base.html" %}

{% block content %}
	<!-- make a new post -->

    <ol class="chat-container">
        <li class="message received">
            Would you like to make a journal entry?
        </li>
    </ol>

    <div class = "waiting_box">
        Waiting for response
    </div>

	<div>
		<form method='post' action="{% url 'chat' %}", class="diary-entry-form">
            <textarea id="answer" required placeholder="Type your message" rows="5" class="input-field"></textarea>
			<button onclick=chat()>Send Chat</button>
			{% csrf_token %}
		</form>
	</div>
	<br/>


{% endblock %}