{% extends "socialnetwork/base.html" %}

{% block current_page %}
	~ Someone's Secret Base ~
{% endblock %}

{% block navigation_bar %}
    <ul class="nav_class_list">
	  <li><a class="nav_class_bullet" href="{% url 'myProfile' %}">{{user.username}}</a></li>
	  <li><a class="nav_class_bullet" href="{% url 'global_stream' %}">Stream</a></li>
	  <li><a class="nav_class_bullet" href="{% url 'logout' %}" method="get">Logout</a></li>
	</ul>
{% endblock %}

{% block content %}
	<ul class="myProfile_list">
		{% for item in items %}
	        {% if item.picture %}
	            <img src="{% url 'get_photo' item.id %}" alt="user picture fail to display" width="200px">
	            <br>
	        {% endif %}
		{% endfor %}

		<ul>User Name : {{user_being_viewed.user.username}} </ul>
		<ul>Bio       : {{user_being_viewed.bio}}  </ul>
	</ul>
{% endblock %}